
body {
    font-family: Arial, sans-serif;
    margin: var(--margem-layout); 
   
    position: relative; 
    min-height: 100vh; 
}


.main-container {
    display: flex;
    align-items: flex-start; 
    gap: 50px;
    margin-bottom: 50px;
}


.left-section {
    width: 300px; 
}



.subtitle-apresentacao {
    margin-top: 5px;
    font-size: 1.2em;
    font-weight: normal;
}

.member-title {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 1em;
}

/* Lista de Nomes */
.member-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    font-size: 16px;
}

.member-list li {
    line-height: 2.5; 
}


.group-photo {
    width: 350px;
    height: 250px;
    object-fit: cover;
    border: 1px solid #aaa;
    margin-top: 40px;
}


#logo-section {
    
    position: absolute; 
    right: var(--margem-layout); 
    bottom: var(--margem-layout);
    width: var(--tamanho-logo);
    height: var(--tamanho-logo);
    background-color: var(--cor-fundo-logo);
    
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo-image {
    width: 90%;
    height: 90%;
    object-fit: contain; 

}